# <center>Итоговый проект</center>

## Задача

Необходимо сделать исчерпывающий анализ по факторам, способствующим развитию диабета.

In [2]:
# Загрузим необходимые нам библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [11]:
# Начнём работу с первым датасетом
data_1 = pd.read_csv('data/dataset_1.csv')
display(data_1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Все пациенты здесь — женщины не моложе 21 года, родом из индейцев Пима.

**<u>Признаки в данных:</u>**

* *Pregnancies* — количество беременностей.
* *Glucose* — концентрация глюкозы в плазме через два часа при пероральном тесте на толерантность к глюкозе.
* *BloodPressure* — диастолическое артериальное давление (мм рт. ст.).
* *SkinThickness* — толщина кожной складки трицепса (мм).
* *Insulin* — двухчасовой сывороточный инсулин (ме Ед/мл).
* *BMI* — индекс массы тела
* *DiabetesPedigreeFunction* — функция родословной диабета (чем она выше, тем выше шанс наследственной заболеваемости).
* *Age* — возраст.
* *Outcome* — наличие диабета (0 — нет, 1 — да).

In [12]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [13]:
data_1.isnull().mean()

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

In [14]:
data_1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
# Второй датасет
data_2 = pd.read_csv('data/dataset_2.csv')
display(data_2)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,3390,43,2.0,M,YES,35.0,0.0,0,0,0,207.0,117.0,65.0,24.42,60.0,100.0
1,3391,56,3.0,F,NO,0.0,0.0,0,0,0,192.0,122.0,82.5,28.61,68.0,58.0
2,3392,58,1.0,F,YES,20.0,0.0,0,1,0,260.0,180.0,100.0,25.56,100.0,NaN
3,3393,47,3.0,F,NO,0.0,0.0,0,0,0,231.0,102.5,66.0,23.40,70.0,78.0
4,3394,44,1.0,M,NO,0.0,0.0,0,0,0,160.0,118.5,87.0,25.81,54.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,4233,46,3.0,F,NO,0.0,0.0,0,0,0,277.0,122.5,77.5,27.42,63.0,77.0
844,4234,58,2.0,F,NO,0.0,0.0,0,0,0,190.0,132.0,67.0,23.08,65.0,70.0
845,4235,55,1.0,M,NO,0.0,0.0,0,0,0,199.0,134.0,80.0,26.41,120.0,NaN
846,4236,45,3.0,F,NO,0.0,0.0,0,1,0,231.0,157.5,104.5,22.86,75.0,92.0
847,4237,56,NaN,M,YES,25.0,0.0,0,0,0,255.0,138.0,80.0,23.44,67.0,79.0

Набор данных, связанный с исследованием сердечно-сосудистой системы у жителей города Фрамингем, штат Массачусетс.

**<u>Признаки в данных:</u>**

<u>Демографические</u>

* *age* - возраст пациента;
* *sex* - мужской или женский ("M" or "F");
* *is_smoking* - является ли пациент курильщиком в настоящее время ("YES" or "NO");
* *cigsPerDay* - количество сигарет, которые человек выкуривает в среднем за один день.

<u>Медицинские</u>

* *BPMeds* - принимал ли пациент лекарства от артериального давления;
* *prevalentStroke* - был ли у пациента ранее инсульт;
* *prevalentHyp* - была ли или нет у пациента гипертония;
* *diabetes* - был ли у пациента диабет;
* *totChol* - уровень общего холестерина;
* *sysBP* - систолическое артериальное давление;
* *diaBP* - диастолическое артериальное давление;
* *BMI* - индекс массы тела;
* *heartRate* - частота сердечных сокращений;
* *glucose* - уровень глюкозы.

In [16]:
# Третий датасет
data_3 = pd.read_csv('data/dataset_3.csv')
display(data_3)

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

Набор данных, содержащий 253 680 ответов на опрос.

**<u>Признаки в данных:</u>**
* *Diabetes_012* - 0 = нет диабета, 1 = преддиабет, 2 = диабет;
* *HighBP* - 0 = нет высокого АД, 1 = высокое АД;
* *HighChol* - 0 = нет высокого уровня холестерина, 1 = высокий уровень холестерина;
* *CholCheck* - 0 = нет проверки уровня холестерина в течение 5 лет, 1 = есть проверка уровня холестерина в течение 5 лет;
* *BMI* - индекс массы тела;
* *Smoker* - выкурено свыше 100 сигарет [5 пачек = 100 сигарет]: 0 = нет, 1 = да;
* *Stroke* - инсульт в анамнезе: 0 = нет, 1 = да;
* *HeartDiseaseorAttack* - ИБС или ИМ в анамнезе: 0 = нет, 1 = да;
* *PhysActivity* - физическая активность за последние 30 дней, не включая работу: 0 = нет, 1 = да;
* *Fruits* - употребление фруктов 1 или более раз в день: 0 = нет, 1 = да.