In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [3]:
# Задание 5.1

melb_data.loc[15, 'Price']

1310000.0

In [4]:
# Задание 5.2

melb_data.loc[90, 'Date']

'10/09/2016'

In [5]:
# Задание 5.3

house_1 = melb_data.loc[3521, 'Landsize']
house_2 = melb_data.loc[1690, 'Landsize']

difference = house_1 / house_2
print(round(difference))

3

In [6]:
# Задание 6.9

melb_data['Type'].value_counts(normalize=True) * 100

Type
h    69.580265
u    22.216495
t     8.203240
Name: proportion, dtype: float64

In [7]:
# Задание 7.3

print(round(melb_data['Distance'].std()))

6

In [8]:
# Задание 7.4

ba_mean =  melb_data['BuildingArea'].mean()
ba_median = melb_data['BuildingArea'].median() 
deviance = abs(ba_median - ba_mean)/ba_mean
print(round(deviance * 100))

10

In [9]:
# Задание 7.6

print(melb_data['Bedroom'].mode())

0    3.0
Name: Bedroom, dtype: float64

In [10]:
# Задание 8.1

melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [11]:
# Задание 8.2

melb_data[(melb_data['Price'] > 3000000) & (melb_data['SellerG'] == 'Nelson')].shape[0]

5

In [12]:
# Задание 8.3

melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [13]:
# Задание 8.4

round(melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean())

769239

In [14]:
# Задание 8.5

melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [15]:
# Unit 9

student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [16]:
# Задание 9.1

student_data.shape

(1000, 8)

In [17]:
# Задание 9.2

student_data.loc[155, ['writing score']]

writing score    88
Name: 155, dtype: object

In [18]:
# Задание 9.3

student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
# Задание 9.6

round(student_data['math score'].mean())

66

In [20]:
# Задание 9.7

student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [21]:
# Задание 9.8

round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [22]:
# Задание 9.9

student_data[student_data['math score'] == 0].shape[0]

1

In [23]:
# Задание 9.10

standard = round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
free = round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

print(standard, free)

70 59

In [24]:
# Задание 9.11

student_data['parental level of education'].value_counts()

# round((118 / 1000) * 100)

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [25]:
# Задание 9.12

median_gr_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_gr_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(median_gr_a - mean_gr_c)))

6