# <center>Работа с текстовыми файлами</center>

## <center>Функция read_table()</center>

Указав определенные значения параметров функции `read_csv()`, можно считать данные из файла, в котором используется разделитель данных, отличный от запятой (`sep`), вместо десятичной точки используется другой символ (`decimal`), а также при считывании должно быть пропущено некоторое количество строк (`skiprows`). 

Такие данные обычно хранятся в текстовых файлах с расширением *TXT*. Этот тип файлов — источник данных, который легко расшифровывать и интерпретировать. Для чтения данных из файлов такого типа *Pandas*, помимо функции `read_csv()`, предлагает и функцию `read_table()`.

* Функция `read_csv()`, как вы уже знаете, загружает данные с разделителями из файла, URL-адреса, и в качестве разделителя по умолчанию используется запятая (символ). В документации эта функция описана как «Чтение данных из файла значений, разделённых запятыми (*CSV*), в *DataFrame*».
Функция `read_table()` также загружает данные с разделителями из файла, URL-адреса, но в качестве разделителя по умолчанию используется символ табуляции ('`\t`'). В документации эта функция описана как «Чтение данных из файла значений с разделителями в *DataFrame*».

In [1]:
import pandas as pd 

# Загружаем данные из файла в переменную, создавая объект DataFrame
countries_data = pd.read_csv('data/countries.csv', sep=';')
 
# Выгружаем данные из DataFrame в CSV-файл и сохраняем файл в папке data
countries_data.to_csv('data/countries.txt', index=False, sep=' ')

Считаем данные из файла `countries.txt` в переменную `txt_df`  (объект *DataFrame*), применив функцию `read_table()` с параметрами `sep=' '`  и  `index_col=['country']` (так мы избавимся от столбца с индексом и присвоим названия строкам, используя данные одного из столбцов). Выводим на экран полученный результат:

In [2]:
# Загружаем данные из файла в переменную, создавая объект DataFrame
txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])

# Выводим содержимое DataFrame на экран
display(txt_df)

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

## <center>Параметр header</center>

Используя параметр `header`, при создании *DataFrame* мы учитываем наличие/отсутствие строки заголовков в исходном файле данных.